body{
    background: rgb(255, 225, 230);
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.fotos{
    width: 28%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px; 
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
}
@media (max-width : 768px){
    .container{
        max-width: 750px;
    }
}
@media (max-width : 426px){
    .container{
        max-width: 400px;
        justify-content: center;
        align-items: center;
    }
    .fotos{
        width: 40%;
    }
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}